<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>LiteDashboard</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
		<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static',filename='images/apple-icon-57x57.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static',filename='images/apple-icon-60x60.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static',filename='images/apple-icon-72x72.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='images/apple-icon-76x76.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static',filename='images/apple-icon-114x114.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='images/apple-icon-120x120.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='images/apple-icon-144x144.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='images/apple-icon-152x152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images/apple-icon-180x180.png') }}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static',filename='images/android-icon-192x192.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='images/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static',filename='images/favicon-96x96.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ url_for('static',filename='images/manifest.json') }}">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{ url_for('static',filename='/images/ms-icon-144x144.png') }}">
		<meta name="theme-color" content="#ffffff">
		<nav class="navbar">
			<div>
				<div class="navbar-header">
					<a href="/">
						<div class="logo-container">
							<img class="logo" src="{{ url_for('static',filename='images/logo.png') }}"></img>
							<span class="title">LiteDashboard</span>
						</div>
					</a>
				</div>
			</div>
		</nav>
    </head>
	<body>
		<div class="container">
			<p class="description">A light-weight dashboard for monitoring computer hardware.</p>
			<div class="tile">
				<div class="row">
					<h3>{{node_name}}</h3>
				<div class="row">

				</div>
					<span class="time-range-label">Graph Time Range:</span>
					<select id="time-range">
						<option value="12" selected>60 Seconds</option>
						<option value="360">30 Minutes</option>
						<option value="720">1 Hour</option>
						<option value="-1">Unlimited</option>
				  	</select>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>Uptime:</b></div>
					<div class="col-lg-8" id="uptime">{{uptime}}</div>
				</div>
				<div class="row data-row">
						<div class="col-lg-4"><b>OS:</b></div>
						<div class="col-lg-8">{{os}} {{os_version}}</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>CPU:</b></div>
					<div class="col-lg-8">{{cpu}} 
						<span class="dim">({{cpu_arch}})</span>
					</div>
				</div>
				<div class = "row data-row">
					<div class = "col-lg-4"><b>CPU Cores:</b></div>
					<div class = "col-lg-8">{{cpu_cores}} 
						<span class="dim">({{logical_processors}} Logical Processors)</span>
					</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>CPU Temperature:</b></div>
					<div class="col-lg-8" id="cpu-temperature">{{cpu_temperature}}</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>CPU Speed:</b></div>
					<div class="col-lg-8"><span id="cpu-speed-current">{{cpu_speed_current}}</span>
						<span class="dim">(Minimum: {{cpu_speed_minimum}} Maximum: {{cpu_speed_maximum}})</span>
					</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>CPU Usage:</b></div>
					<div class="col-lg-8" id="cpu-usage">{{cpu_usage}} %</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>Total Memory:</b></div>
					<div class="col-lg-8">{{total_memory}}</div>
				</div>
				<div class="row data-row ">
					<div class="col-lg-4"><b>Used Memory:</b></div>
					<div class="col-lg-8" id = "used-memory">
						<span id="used-memory-amount">{{used_memory}}</span>
						<span class="dim">(<span id = "used-memory-percent">{{used_memory_percent}}</span> %)</span>
					</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>Free Memory:</b></div>
					<div class="col-lg-8" id = "free-memory">
						<span id="free-memory-amount">{{free_memory}}</span>
						<span class="dim">(<span id="free-memory-percent">{{free_memory_percent}}</span> %)</span>
					</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>Total Swap:</b></div>
					<div class="col-lg-8">{{total_swap}}</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>Used Swap:</b></div>
					<div class="col-lg-8" id="used-swap">
						<sapn id="used-swap-amount">{{used_swap}}</sapn>
						<span class="dim">(<span id="used-swap-percent">{{used_swap_percent}}</span> %)</span>
					</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>Free Swap:</b></div>
					<div class="col-lg-8" id="free-swap">
						<span id="free-swap-amount">{{free_swap}}</span>
						<span class="dim">(<span id="free-swap-percent">{{free_swap_percent}}</span> %)</span>
					</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>Storage Device:</b></div>
					<div class="col-lg-8">{{storage_device}}</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>File System Type:</b></div>
					<div class="col-lg-8" >{{file_system_type}}</div>
				</div>
				<div class = "row data-row">
					<div class = "col-lg-4"><b>Total Disk Space:</b></div>
					<div class = "col-lg-8">{{total_disk}}</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>Used Disk Space:</b></div>
					<div class="col-lg-8" id="used-disk">
						<span id="used-disk-amount">{{used_disk}}</span>
						<span class="dim">(<span id="used-disk-percent">{{used_disk_percent}}</span> %)</span>
					</div>
				</div>
				<div class = "row data-row">
					<div class="col-lg-4"><b>Free Disk Space:</b></div>
					<div class="col-lg-8" id="free-disk">
						<span id="free-disk-amount">{{free_disk}}</span>
						<span class="dim">(<span id="free-disk-percent">{{free_disk_percent}}</span> %)</span>
					</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>IP Address:</b></div>
					<div class="col-lg-8" >{{ip_address}}</div>
				</div>
				<div class="row data-row">
					<div class="col-lg-4"><b>Network Send:</b></div>
					<div class="col-lg-8" >
						<span id="bytes-sent">{{bytes_sent}}</span>
						<span class="dim">(<span id="packets-sent">{{packets_sent}}</span> Packets)</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4"><b>Network Recieve:</b></div>
					<div class="col-lg-8" >
						<span id="bytes-recieved">{{bytes_recieved}}</span>
						<span class="dim">(<span id="packets-recieved">{{packets_recieved}}</span> Packets)</span>
					</div>
				</div>
			</div>
			<div class="row double-tile">
				<div class="col-lg-6 tile-left">
					<div class="tile left-right-tile">
						<div class="row">
							<h3>CPU Usage (%)</h3>
						</div>
						<canvas id="cpu-usage-chart"></canvas>
					</div>
				</div>
				<div class="col-lg-6 tile-right">
					<div class="tile left-right-tile">
						<div class="row">
							<h3>CPU Temperature (°C)</h3>
						</div>
						<canvas id="cpu-temperature-chart"></canvas>
					</div>
				</div>
			</div>
			<div class="row double-tile">
				<div class="col-lg-6 tile-left">
					<div class="tile left-right-tile">
						<div class="row">
							<h3>Memory Usage (%)</h3>
						</div>
						<canvas id="memory-usage-chart"></canvas>
					</div>
				</div>
				<div class="col-lg-6 tile-right">
					<div class="tile left-right-tile">
						<div class="row">
							<h3>Swap Usage (%)</h3>
						</div>
						<canvas id="swap-usage-chart"></canvas>
					</div>
				</div>
			</div>
			<div class="tile">
				<div class="row">
					<h3>Disk Space Usage (%)</h3>
				</div>
				<canvas id="disk-usage-chart"></canvas>
			</div>
		</div>
		<div class="footer">
			<p>LiteDashboard Version 1.4.2</p>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.0/dist/chart.min.js"></script>
	<script src="{{ url_for('static',filename='index.js') }}" type="text/javascript"></script>
</html>
